<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation de suppression de compte</title>
</head>
<body>
<img src="https://img.icons8.com/cotton/64/null/happy-file.png" alt="logo entreprise">

<p>Bonjour {{ user.firstname }},</p>

<p>Nous avons bien reçu votre demande de suppression de compte sur notre site.</p>

<p>Votre compte a été supprimé avec succès. Vous ne pourrez plus accéder à votre compte ni à vos données.</p>

<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>

<p>Merci de nous avoir fait confiance. Nous espérons vous revoir bientôt.</p>

<p>Cordialement,</p>
<p>File Storage</p>
</body>
</html>
